In [1]:
import pymysql
import pandas as pd

#连接数据库
conn = pymysql.connect(host='10.17.122.37', user='root', passwd="123456", db='model_verification')

#读取SQL数据
sql="""select * from ods_sssj_sdwhpsssj limit 15000000,1000000"""
data=pd.read_sql(sql,conn)
data.to_excel('G:\\data\\18.xlsx',encoding='utf-8')

KeyboardInterrupt:

In [2]:
import pymysql
import pandas as pd
conn = pymysql.connect(host='localhost',user='root',port=3306,passwd='123456',database='girls')
sql = "select * from boys"
data = pd.read_sql(sql,conn)
#data.to_excel('C:\\Users\\Cyy\\Desktop\\boys.xlsx')
aa = data.loc[:,['boyName','userCP']]

In [5]:
data

   id boyName  userCP
0   1     张无忌     100
1   2      鹿晗     800
2   3     黄晓明      50
3   4      段誉     300

In [10]:
aa

  boyName  userCP
0     张无忌     100
1      鹿晗     800
2     黄晓明      50
3      段誉     300

In [14]:
aa.iloc[:,0]

0    张无忌
1     鹿晗
2    黄晓明
3     段誉
Name: boyName, dtype: object

In [15]:
pd.Series(aa.iloc[:,0])

0    张无忌
1     鹿晗
2    黄晓明
3     段誉
Name: boyName, dtype: object

In [3]:
aa.values[:,1]

array([100, 800, 50, 300], dtype=object)

In [47]:
import pymysql
conn = pymysql.connect(host='localhost',user='root',port=3306,passwd='123456',database='boy')
cur = conn.cursor()
sql = "select * from student"
cur.execute(sql)
c=cur.fetchall()
c

((1, '张三', '男', datetime.date(2020, 7, 14), 87.0),
 (2, '李四', '女', datetime.date(2020, 7, 22), 66.0),
 (3, '王五', '男', datetime.date(2020, 7, 15), 90.0))

In [43]:
a = list(zip(*c))[1:]
a1 = list(zip(*c))[1]
a2 = list(zip(*c))[2]
list(zip(a1,a2))
c = {i:j for i,j in zip(a1,a2)}
c

{'张无忌': 100, '鹿晗': 800, '黄晓明': 50, '段誉': 300}

In [44]:
list(zip(a1,a2))

[('张无忌', 100), ('鹿晗', 800), ('黄晓明', 50), ('段誉', 300)]

In [40]:
pd.Series(c)

张无忌    100
鹿晗     800
黄晓明     50
段誉     300
dtype: int64