In [50]:
from sklearn.datasets import make_classification
from collections import Counter
X, y = make_classification(n_samples=5000, n_features=2, n_informative=2,
                           n_redundant=0, n_repeated=0, n_classes=3,
                           n_clusters_per_class=1,
                           weights=[0.01, 0.05, 0.94],
                           class_sep=0.8, random_state=0)
Counter(y)

Counter({2: 4674, 1: 262, 0: 64})

In [100]:
import pandas as pd
from pandas import DataFrame
X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [101]:
XX = pd.concat([X,y],axis = 1)

In [104]:
X = XX.iloc[:,[0,1]]
y = XX.iloc[:,2]

In [112]:
XX.loc[:,[i for i in range(2)]]

             0  0         1
0     0.662420  2 -0.763477
1    -0.201381  2 -2.469794
2     1.208045  2 -0.332895
3     1.375456  2  0.974206
4     0.215885  2 -1.556261
...        ... ..       ...
4995  1.215805  2 -0.356784
4996  0.384902  2 -1.466087
4997  0.894471  2 -0.499570
4998  1.403129  2 -0.626180
4999  1.795896  2  0.742837

[5000 rows x 3 columns]

In [105]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X, y)
 
sorted(Counter(y_resampled).items())

[(0, 4674), (1, 4674), (2, 4674)]

In [106]:
from imblearn.over_sampling import SMOTE
X_resampled_smote, y_resampled_smote = SMOTE().fit_resample(X, y)
sorted(Counter(y_resampled_smote).items())

[(0, 4674), (1, 4674), (2, 4674)]

In [107]:
from imblearn.over_sampling import ADASYN
X_resampled_adasyn, y_resampled_adasyn = ADASYN().fit_resample(X, y)
sorted(Counter(y_resampled_adasyn).items())

[(0, 4673), (1, 4662), (2, 4674)]

In [108]:
from imblearn.over_sampling import BorderlineSMOTE
X_resampled, y_resampled = BorderlineSMOTE(kind='borderline-1').fit_resample(X, y)
sorted(Counter(y_resampled).items())

[(0, 4674), (1, 4674), (2, 4674)]

In [27]:
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=0)
X_resampled, y_resampled = cc.fit_resample(X, y)
sorted(Counter(y_resampled).items())

[(0, 64), (1, 64), (2, 64)]

In [55]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
X_resampled, y_resampled = rus.fit_resample(X, y)
sorted(Counter(y_resampled).items())

[(0, 64), (1, 64), (2, 64)]

In [56]:
from imblearn.under_sampling import EditedNearestNeighbours
enn = EditedNearestNeighbours()
X_resampled, y_resampled = enn.fit_resample(X, y)
sorted(Counter(y_resampled).items())

[(0, 64), (1, 213), (2, 4568)]

In [57]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
sorted(Counter(y_resampled).items())

[(0, 4060), (1, 4381), (2, 3502)]

In [58]:
from imblearn.combine import SMOTETomek
smote_tomek = SMOTETomek(random_state=0)
X_resampled, y_resampled = smote_tomek.fit_resample(X, y)
Counter(y_resampled)

Counter({2: 4413, 1: 4566, 0: 4499})

In [3]:
import pandas as pd
import numpy as np
label = [3]*2+[1]*1+[2]*1
label = pd.DataFrame(label)
label = label.rename(columns = {0:'label'})
label

   label
0      3
1      3
2      1
3      2

In [25]:
np.array([0.4,0.1,0.5])

array([0.4, 0.1, 0.5])

In [24]:
label.sample(n = 3,weights=np.array([0.4,0.1,0.5]),axis = 0)

ValueError: Weights and axis to be sampled must be of same length

In [45]:
label.sample?

In [4]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
...                    'num_wings': [2, 0, 0, 0],
...                    'num_specimen_seen': [10, 2, 1, 8]},
...                   index=['falcon', 'dog', 'spider', 'fish'])

In [5]:
df1 = df.rename(index = {'falcon':0,'dog':1,'spider':2,'fish':3})
df1

   num_legs  num_wings  num_specimen_seen
0         2          2                 10
1         4          0                  2
2         8          0                  1
3         0          0                  8

In [6]:
df.sample(n=1, weights='num_specimen_seen', random_state=1)

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10

In [7]:
df2 = pd.concat([df1,label],axis = 1)
df2

   num_legs  num_wings  num_specimen_seen  label
0         2          2                 10      3
1         4          0                  2      3
2         8          0                  1      1
3         0          0                  8      2

In [66]:
 weights=pd.Series([2,1,1])

In [8]:
from collections import Counter
df3 = df2.sample(n = 10000, weights='label',replace = True)
Counter(df3['label'])

Counter({3: 6636, 1: 1090, 2: 2274})

In [80]:
df3

    num_legs  num_wings  num_specimen_seen  label
1          4          0                  2      3
3          0          0                  8      2
0          2          2                 10      3
2          8          0                  1      1
3          0          0                  8      2
..       ...        ...                ...    ...
0          2          2                 10      3
0          2          2                 10      3
2          8          0                  1      1
1          4          0                  2      3
1          4          0                  2      3

[10000 rows x 4 columns]