在Python读取Parquet文件之前，需要安装pandas和pyarrow库。

# 使用pandas读取Parquet文件

In [15]:
import pandas as pd

df = pd.read_parquet('../data/AirPassengers.parquet')

In [19]:
df

     Month
0  1949-01
1  1949-02
2  1949-03
3  1949-04
4  1949-05
5  1949-06
6  1949-07
7  1949-08
8  1949-09
9  1949-10

# 使用pyarrow读取Parquet文件

In [3]:
import pyarrow.parquet as parquet

table = parquet.read_table('../data/AirPassengers.parquet')
df = table.to_pandas()

In [4]:
df

     Month
0  1949-01
1  1949-02
2  1949-03
3  1949-04
4  1949-05
5  1949-06
6  1949-07
7  1949-08
8  1949-09
9  1949-10

# 读取Parquet文件的部分列

In [5]:
import pandas as pd

df = pd.read_parquet('../data/AirPassengers.parquet', columns=['Month'])

In [6]:
df

     Month
0  1949-01
1  1949-02
2  1949-03
3  1949-04
4  1949-05
5  1949-06
6  1949-07
7  1949-08
8  1949-09
9  1949-10

In [7]:
import pyarrow.parquet as parquet

table = parquet.read_table('../data/AirPassengers.parquet', columns=['Month'])
df = table.to_pandas()

In [8]:
df

     Month
0  1949-01
1  1949-02
2  1949-03
3  1949-04
4  1949-05
5  1949-06
6  1949-07
7  1949-08
8  1949-09
9  1949-10