In [2]:
import pandas as pd
import numpy as np

# 数据读取

In [4]:
#选取的数据为正常工况的数据
data = pd.read_csv("../data/AirPassengers.csv", encoding="gbk")
data.head(5)

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [5]:
def Outliers(data, time_col, k):
    """
    四分位数检测异常值
    data：数据框
    time_col：时间列,str
    k：检测指数，当k=3时，代表极度异常值；当k=1.5时，代表中度异常值。
    """
    filter_data = data.loc[:,
                           data.columns != time_col].astype('float32')  #不包含时间列
    Q1 = filter_data.quantile(0.25)  #第一四分位数
    Q3 = filter_data.quantile(0.75)  #第三四分位数
    IQR = Q3 - Q1  #四分位距
    Low = Q1 - k * IQR
    High = Q3 + k * IQR
    data = data.reset_index(drop=True)
    for i in filter_data.columns:
        m = data.shape[0]  #行
        data = data.reset_index(drop=True)
        for j in range(m):
            if float(data.loc[j, i]) < Low.loc[i] or float(
                    data.loc[j, i]) > High.loc[i]:
                data = data.drop(j, axis=0)
    return data

In [7]:
Outliers(data, "Month", 3)

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]